<div class="container-fluid p-5 bg-primary text-white text-center">
  <h1>Add new article</h1>
  <p><%= link_to 'See all my articles', blog_articles_path(@blog), class:'text-warning' %></p>
</div>

<%= form_for(@article, url: new_blog_article_path) do |f| %>
<div class="container mt-3">
  <div class="mb-3 mt-3">
    <%= f.label :title %>
    <%= f.text_field :title, class:"form-control mt-3", placeholder:"Title of the article.." %>
  </div>
  <div class="mb-3">
    <%= f.label :content %>
    <%= f.text_area :content, class:"form-control mt-3", placeholder:"Once upon a time...." %>
  </div>
  <%= f.submit %>
  <% end %>
</div>